<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <staticContent>
            <remove fileExtension=".sct" />
            <mimeMap fileExtension=".app" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".scx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".sct" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
